<Container class="text-center">
    <a href="https://www.linkedin.com/in/timothy-gibbs-49215681/" target="_blank">
        <i class="fab fa-linkedin" style="font-size:48px;color:#0e76a8"></i>
    </a>

    <a href="https://www.instagram.com/gazebomalarkey/" target="_blank">
        <i class="fab fa-instagram-square" style="font-size: 48px; color: #405DE6"></i>
    </a>
</Container>
